<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>DeCodeDubaiAPI</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
   <servlet>
    <description></description>
    <display-name>auditlogs</display-name>
    <servlet-name>FaceBookAuth</servlet-name>
    <servlet-class>com.fdb.mobile.servlet.EmiratesWebAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FaceBookUser</servlet-name>
    <servlet-class>com.fdb.mobile.servlet.FaceBookLogin</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>RegisterFaceBookUser</servlet-name>
    <servlet-class>com.fdb.mobile.servlet.RegisterFaceBookUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaceBookAuth</servlet-name>
    <url-pattern>/getFb</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>FaceBookUser</servlet-name>
    <url-pattern>*.sec</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterFaceBookUser</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
</web-app>